$mobile:576px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    height: 100%;
    &__header{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo{
            &__img{
                width: 10vw;
            }
        }
        &__menu{
            display: flex;
            gap:1rem;
            a{
                text-decoration: none;
                color: gray;
            }
            a:hover{
                color: orange;
            }
        }
    }
    &__menu{
        height: 80vh;
        display: flex;

        &__img{
            
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            
        &__laptop{

            

            }

        }
        &__text{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__one{
                font-size: 5vw;

            }
            [class^="parent__menu__text__"]{
                font-size: 3vw;

            }
        }
    }


}

@media(max-width:$mobile){
    .parent__header{
        justify-content: center;
        &__logo{
            &__img{
                width: 25vw;
            }
        }

        &__menu{
            display: none;
        }
       
    }
    .parent__menu{
        flex-direction: column;
        gap: 2rem;
        &__text{
            border: 1px solid red;
            &__one{
                font-size: 20px;
            }
            &__two,&__three,&__four{
                display: none;
            }
        }
    }
}


